.app {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    display: flex;
    width: 100%;
}

main > section {
    flex: 1;
    margin: 0 20%;
}

main > aside {
    overflow-x: hidden;
}

main > aside.hide {
    padding: 5px 0;
    width: 0;
    transition: .5s;
}

main > aside.show {
    padding: 5px 25px;
    width: 200px;
    transition: .5s;
}
