.app {
    width: 100%;
    height: 100%;
    overflow: auto;

    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    display: flex;
    width: 100%;
    overflow: hidden;
}

main > section {
    flex: 1;
    padding: 30px 5%;
    overflow: auto;
}

main > aside {
    overflow-x: hidden;
    background: var(--c-secondary);
}

main > aside.hide {
    padding: 5px 0;
    width: 0;
    transition: .5s;
}

main > aside.show {
    padding: 5px 25px;
    width: 300px;
    transition: .5s;
}

main > aside * {
    white-space: nowrap;
}

@media only screen and (max-width: 1439px) {
    main {
        position: relative;
    }

    main > aside {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
    }
}

@media only screen and (min-width: 600px) {
    main > section {
        padding: 30px 10%;
    }
}

@media only screen and (min-width: 1400px) {
    main > section {
        padding: 30px 15%;
    }
}
