@font-face {
    font-family: Main;
    src: url(./assets/IBM_Plex_Serif/IBMPlexSerif-Thin.ttf);
}

:root {
    --c-primary: #ff7f2a;
    --c-primary-light: #ff9752;
    --c-secondary: #2b313d;
    --c-secondary-dark: #282c34;
    --c-secondary-light: #3c4659;
    --c-text: white;
}

body {
    margin: 0;

    font-family: "Main";
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--c-secondary-light);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--c-text);
}

#root {
    width: 100%;
    min-height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
    font-size: 2.5rem!important;
    color: var(--c-primary-light);
}

h2 {
    font-size: 1.8rem!important;
}

h3 {
    font-size: 1.4rem!important;
    color: var(--c-primary);
}

h4 {
    font-size: 1.1rem!important;
    color: var(--c-primary-light);
}

p {
    font-size: 1rem!important;
}

a {
    color: var(--c-primary);
}

.float-right {
    margin-left: auto;
}

@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';
