@font-face {
    font-family: Main;
    src: url(./assets/IBM_Plex_Serif/IBMPlexSerif-Thin.ttf);
}

@font-face {
    font-family: MainBold;
    src: url(./assets/IBM_Plex_Serif/IBMPlexSerif-SemiBold.ttf);
}

@font-face {
    font-family: MainItalic;
    src: url(./assets/IBM_Plex_Serif/IBMPlexSerif-Italic.ttf);
}

:root {
    --c-primary: #ff7f2a;
    --c-primary-light: #ff9752;
    --c-secondary: #2b313d;
    --c-secondary-dark: #282c34;
    --c-secondary-light: #3c4659;
    --c-text: white;
}

body {
    margin: 0;

    font-family: "Main";

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--c-secondary-light);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--c-text);
}

button, .btn, table {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

#root {
    width: 100%;
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
    font-size: 2.5rem!important;
    color: var(--c-primary-light);
    border-bottom: 1px solid var(--c-primary);
    margin-bottom: 20px;
    padding-bottom: 10px;
}

h2 {
    font-size: 1.8rem!important;
}

h3 {
    font-size: 1.4rem!important;
    color: var(--c-primary);
}

h4 {
    font-size: 1.1rem!important;
    color: var(--c-primary-light);
}

p {
    font-size: 1.3rem!important;
}

a {
    color: var(--c-primary);
}

.btn a {
    text-decoration: none;
}

.float-right {
    margin-left: auto;
}

button, .btn {
    display: inline-block;
    outline: none;
    border: 1px solid var(--c-primary);
    color: var(--c-primary);
    background: none;
    border-radius: 3px;
    padding: 8px 20px;
    cursor: pointer;
    user-select: none;
    font-size: 1rem;
}

.table-responsive {
    width: 100%;
    overflow: auto;
    margin: 10px 0;
}

table {
    border-spacing: 0;
    margin: 10px 0;
}

thead {
    background: var(--c-secondary-dark);
    font-weight: bold;
}

th, td {
    border-top: 1px solid var(--c-text);
    border-left: 1px solid var(--c-text);
    padding: 8px;
    word-break: break-all;
    min-width: 80px;
}

th:last-child, td:last-child {
    border-right: 1px solid var(--c-text);
}

tr:last-child td {
    border-bottom: 1px solid var(--c-text);
}

.badge {
    display: inline;
    word-break: keep-all;
    text-align: center;
    padding: 3px 8px;
    margin: 2px 5px;
    background: var(--c-primary-light);
    border-radius: 5px;
}

@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';
